p{
font-family:'Noto Sans KR', sans-serif;
font-size: 15pt;
}
.h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    font-size: 30pt;
}

i{
    color: white;
}

.jumbotron-fluid{
    padding-top: 0px;
    padding-left: 30px;
}

.card{
    min-width: 194px;
    min-height: 194px;
    background-color: steelblue;
    color: white;
    text-align: center;
}

.container {
    min-width: 1500px;

}
