p{
font-family:'Noto Sans KR', sans-serif;
font-size: 20pt;
}


i{
    color: white;
}

.jumbotron-fluid{
    padding-top: 0px;
    padding-left: 30px;
}

.card{
    min-width: 194px;
    min-height: 194px;
    background-color: steelblue;
    color: white;
    text-align: center;
}

.container {
    min-width: 1500px;

}

#current-day-image{

    max-height: 200px;
    max-width: 200px;
    /* overflow: auto; */
    /* position: absolute;
    margin-left: 300px;
    margin-top: -120px; */
    
}

#current-day{

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

#currentCity{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 40pt;
    padding: 5px;
}

h2{

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
}
